In [1]:
import numpy as np
import pandas as pd

## 1. (X,Y) koordináták generálása

In [2]:
a = []
for i,j in zip(range (1,100), reversed(range(1,100))):
    a.append((i,j))
a = tuple(a)

## 2. df-be vágom

In [3]:
df = pd.DataFrame(a, columns=['X', 'Y'])
df = df.loc[(df["X"] <= 50)]

## 3. Origótól vett távolságot számítok

In [4]:
df["Euclides"]=df["X"]**2+df["Y"]**2
df["Mark"]=df["X"]*df["Y"]
df.reset_index()

    index   X   Y  Euclides  Mark
0       0   1  99      9802    99
1       1   2  98      9608   196
2       2   3  97      9418   291
3       3   4  96      9232   384
4       4   5  95      9050   475
5       5   6  94      8872   564
6       6   7  93      8698   651
7       7   8  92      8528   736
8       8   9  91      8362   819
9       9  10  90      8200   900
10     10  11  89      8042   979
11     11  12  88      7888  1056
12     12  13  87      7738  1131
13     13  14  86      7592  1204
14     14  15  85      7450  1275
15     15  16  84      7312  1344
16     16  17  83      7178  1411
17     17  18  82      7048  1476
18     18  19  81      6922  1539
19     19  20  80      6800  1600
20     20  21  79      6682  1659
21     21  22  78      6568  1716
22     22  23  77      6458  1771
23     23  24  76      6352  1824
24     24  25  75      6250  1875
25     25  26  74      6152  1924
26     26  27  73      6058  1971
27     27  28  72      5968  2016
28     28  29  71      5882  2059
29     29  30  70      5800  2100
30     30  31  69      5722  2139
31     31  32  68      5648  2176
32     32  33  67      5578  2211
33     33  34  66      5512  2244
34     34  35  65      5450  2275
35     35  36  64      5392  2304
36     36  37  63      5338  2331
37     37  38  62      5288  2356
38     38  39  61      5242  2379
39     39  40  60      5200  2400
40     40  41  59      5162  2419
41     41  42  58      5128  2436
42     42  43  57      5098  2451
43     43  44  56      5072  2464
44     44  45  55      5050  2475
45     45  46  54      5032  2484
46     46  47  53      5018  2491
47     47  48  52      5008  2496
48     48  49  51      5002  2499
49     49  50  50      5000  2500

## 4. Ha sorba rendezem a pontjaimat az euklideszi távolság alapján (X^2 + Y^2), az ugyanazt a sorrendet adja vissza, mintha X*Y-t számolnék és azt fordított sorrendbe rendezném

In [5]:
df["csekk"] = np.where(
    df.sort_values(by="Euclides", axis=0, ascending=True).index.values.astype(int)
    == df.sort_values(by="Mark", axis=0, ascending=False).index.values.astype(int),
    True,
    False,
)

In [6]:
df

     X   Y  Euclides  Mark  csekk
0    1  99      9802    99   True
1    2  98      9608   196   True
2    3  97      9418   291   True
3    4  96      9232   384   True
4    5  95      9050   475   True
5    6  94      8872   564   True
6    7  93      8698   651   True
7    8  92      8528   736   True
8    9  91      8362   819   True
9   10  90      8200   900   True
10  11  89      8042   979   True
11  12  88      7888  1056   True
12  13  87      7738  1131   True
13  14  86      7592  1204   True
14  15  85      7450  1275   True
15  16  84      7312  1344   True
16  17  83      7178  1411   True
17  18  82      7048  1476   True
18  19  81      6922  1539   True
19  20  80      6800  1600   True
20  21  79      6682  1659   True
21  22  78      6568  1716   True
22  23  77      6458  1771   True
23  24  76      6352  1824   True
24  25  75      6250  1875   True
25  26  74      6152  1924   True
26  27  73      6058  1971   True
27  28  72      5968  2016   True
28  29  71      5882  2059   True
29  30  70      5800  2100   True
30  31  69      5722  2139   True
31  32  68      5648  2176   True
32  33  67      5578  2211   True
33  34  66      5512  2244   True
34  35  65      5450  2275   True
35  36  64      5392  2304   True
36  37  63      5338  2331   True
37  38  62      5288  2356   True
38  39  61      5242  2379   True
39  40  60      5200  2400   True
40  41  59      5162  2419   True
41  42  58      5128  2436   True
42  43  57      5098  2451   True
43  44  56      5072  2464   True
44  45  55      5050  2475   True
45  46  54      5032  2484   True
46  47  53      5018  2491   True
47  48  52      5008  2496   True
48  49  51      5002  2499   True
49  50  50      5000  2500   True

## 5. Tipp: Kevésbé számítás igényes az X*Y, mint az X^2+Y^2